### IntelliJ ###
.idea/

### VS Code ###
.vscode

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### Metals ###
.bloop
.metals
project/metals.sbt
project/.bloop
project/project
